<div *ngIf="hideprogress" style="margin-left:40%;margin-top:10%;">
    <p-progressSpinner></p-progressSpinner>
  </div>
<div *ngIf="!hideprogress">
  <h2 style="margin-left:25px;color:black; font-size: 15px;">
    Update Transportation Cost
  </h2>
                  <button style="float:right ;background-color:white; color:rgb(213,120,23) ; margin:25px;margin-top:0px;padding:8px;" class="updateTrans"  (click)="bulkUpd()"  >Bulk Update</button>

  <p-tabView (onChange)="onTabChange($event)">
    <p-tabPanel header="Update Price" rightIcon="fa fa-truck" [selected]="selectDom" [disabled]="disableDom">
      <div class="contentDiv">
        <div class="priceDiv">
          <p-table #dtd [style]="{width:'80%','margin-left':'8%'}" [filterDelay]="0" [scrollable]="true" scrollHeight="350px" [columns]="cols"
            [value]="vehiclesWithPrice" selectionMode="single" [(selection)]="selectedRange">
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix">
                <!-- <i type="button" class="fa fa-file-excel-o" label="All Data" (click)="dtd.exportCSV()" (click)="simple()" style="float:right ;background-color:white; color:rgb(213,120,23) ; margin:25px;margin-top:0px;padding:8px; border:1px solid rgb(213,120,23);">
                  Export to Excel</i> -->
                  <i type="button" class="fa fa-file-excel-o fa-2x" label="All Data" (click)="dtd.exportCSV()" style="float:right ;background-color:white; color:rgb(213,120,23) ; margin:25px;margin-top:0px;padding:8px;" title="Export to Excel"></i>

              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" style="width:100px;" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
              <tr>
                <th class="secondHeader" *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'vehicleName'" pInputText type="text" (input)="dtd.filterGlobal($event.target.value, 'contains')"
                    (keyup)="searchSet(dtd,$event.target.value)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'minDistance'" pInputText type="number" (input)="dtd.filter($event.target.value, col.field, col.filterMatchMode)"
                    (keyup)="searchSet(dtd,$event.target.value)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'maxDistance'" pInputText type="number" (input)="dtd.filter($event.target.value, col.field, col.filterMatchMode)"
                    (keyup)="searchSet(dtd,$event.target.value)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'unitPrice'" pInputText type="number" (input)="dtd.filter($event.target.value, col.field, col.filterMatchMode)"
                    (keyup)="searchSet(dtd,$event.target.value)">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr #tr id="{{rowData.unitId}}" class="datarow" (click)="rowSelTransDom(rowData)" [pSelectableRow]="rowData">
                <td *ngFor="let col of columns;let i=index;" style="width:100px;">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>

          </p-table>
          <p-dialog header="Enter Percentage" [(visible)]="displayDialogBulk" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
            <div class="ui-g ui-fluid" >
              <div class="ui-g-12">
                <div class="ui-g-4">
                  <label for="vin">Percentage</label>
                </div>
                <div class="ui-g-8">
                  <input pInputText [(ngModel)]="percentage" />
                </div>
              </div>
              </div>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check" (click)="saveBulk()" label="Ok"></button>
              </div>
              </p-dialog>
          <p-dialog header="Vehicle Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
            <div class="ui-g ui-fluid" *ngIf="selectedRange">
              <div class="ui-g-12">
                <div class="ui-g-4">
                  <label for="vin">Vehicle Name</label>
                </div>
                <div class="ui-g-8">
                  <label>: {{selectedRange.vehicleName}}</label>
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-4">
                  <label for="year">Min Range </label>
                </div>
                <div class="ui-g-8">
                  <label>: {{selectedRange.minDistance}}</label>
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-4">
                  <label for="brand">Max Range</label>
                </div>
                <div class="ui-g-8">
                  <label>: {{selectedRange.maxDistance}}</label>
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-4">
                  <label>Unit Price</label>
                </div>
                <div class="ui-g-8">
                  <input pInputText [(ngModel)]="selectedRange.unitPrice" />
                </div>
              </div>
              <div *ngIf="(transpApp || transRev)" class="ui-g-12">
                <div class="ui-g-4">
                  <label>Previous Unit Price</label>
                </div>
                <div class="ui-g-8">
                  <label>: {{selectedRange.previousUnitPrice}}</label>
                </div>
              </div>
            </div>
            <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check" (click)="save()" label="Ok"></button>
              </div>
            </p-footer>
          </p-dialog>
          <form #updatePriceTrans="ngForm" (ngSubmit)="updatePriceTransForm(updatePriceTrans.value)">
            <div style="margin-left: 10%;" *ngFor="let c of prevRemarks;let i=index;">
              <div *ngIf="c.comment!=null">
                <label class="pcomentslbl">{{c.assingedToname}} </label>
                <textarea disabled class="pcomments" disabled placeholder="Enter yor comments" cols="50" rows="2">{{c.comment}}</textarea>
              </div>
            </div>
            <div style="margin-left: 10%;">
              <label class="comentslbl">Comments
                <span class="asterisk_input">*</span>
              </label>
              <textarea name="coments" [(ngModel)]="remarkss" #comments="ngModel" required class="comments" ngModel placeholder="Enter yor comments"
                cols="50" rows="4"></textarea>
            </div>

            <div style="margin-left: 10%;" *ngIf="(transpApp || transRev)">
              <label class="reviewrlbl"> Accept / Reject the update request here
                <span class="asterisk_input">*</span>
              </label>
              <select (change)="statusUpdate(state.value)" class="reviewr" #state="ngModel" required name="status" ngModel>
                <option selected hidden>Please select </option>
                <option>Accept</option>
                <option>Reject</option>
              </select>
            </div>

            <div style="margin-left: 10%;" *ngIf="(transpEdit || transRev)">
              <div *ngIf="acceptedOnly">
                <label class="reviewrlbl">{{labelName}}
                  <span class="asterisk_input">*</span>
                </label>
                <select class="reviewr" #assignee="ngModel" required name="assigne" ngModel (change)="assignedUser(assignee.value)">
                  <option value="" selected hidden>Please select </option>
                  <option [ngValue]="u.userId" *ngFor="let u of newUsersLilst">{{u.empName}}</option>
                </select>
              </div>
              <!-- <button style="width:auto" class="updateTrans" type="button" (click)="assinToOthers()">Assign</button> -->
            </div>
            <button style="margin-left: 10%;" class="updateTrans" [disabled]="finalRangeList.length==0" (click)="SaveAsDraft()" type="button">Save As Draft</button>
            <button style="margin-left: 25px;" class="updateTrans" [disabled]="!(updatePriceTrans.form.valid && finalRangeList.length!=0)" type="submit">Submit</button>
          </form>
          <label style="margin-left: 10%;" class="successMsg">{{successMsg}}</label>
        </div>
      </div>
    </p-tabPanel>

    <p-dialog header="Request Status" [(visible)]="displayMessage" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
      <label class="successMsg" *ngFor="let s of successMsg">{{s}}</label>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-check" (click)="closeMessage()" label="Ok"></button>
        </div>
      </p-footer>
    </p-dialog>

    <!-- <p-tabPanel header="Export" rightIcon="fa fa-plane" [selected]="selectEx" [disabled]="disableEx">
      <div class="contentDiv">
        <div style="margin-left: 10%;">
          <label class="newVehicleLbl">Please Export Type</label>
          <select name="expType" #expType (change)="expTypeSel(expType.value)">
            <option hidden>Please select</option>
            <option [selected]="FobSel">FOB at Indian port</option>
            <option [selected]="CifSel">Port to port</option>
          </select>
        </div>
        <div class="priceDiv">
          <p-table #dt [style]="{width:'80%','margin-left':'8%'}" [scrollable]="true" scrollHeight="300px" [columns]="cols2" [value]="framesWithExportType"
            selectionMode="single" [(selection)]="selectedRange">
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix"> -->
                <!-- <i type="button" class="fa fa-file-excel-o" label="All Data" (click)="dt.exportCSV()" style="float:right ;background-color:white; color:rgb(213,120,23) ; margin:25px;margin-top:0p;padding:8px; border:1px solid rgb(213,120,23);">
                  Export to Excel</i> -->
                  <!-- <i type="button" class="fa fa-file-excel-o fa-2x" label="All Data" (click)="dt.exportCSV()" style="float:right ;background-color:white; color:rgb(213,120,23) ; margin:25px;margin-top:0px;padding:8px;" title="Export to Excel"></i>

              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" style="width:100px;" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
              <tr>
                <th class="secondHeader" *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'frameName'" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    (keyup)="searchSet(dt,$event.target.value)"> -->
                  <!-- <input class="localIp" placeholder="Search here.." *ngSwitchCase="'turbineCode'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    (keyup)="searchSet(dt,$event.target.value)"> -->
                  <!-- <input class="localIp" placeholder="Search here.." *ngSwitchCase="'condensingTypeName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    (keyup)="searchSet(dt,$event.target.value)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'price'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    (keyup)="searchSet(dt,$event.target.value)">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr #tr id="{{rowData.transId + vehiclesWithPrice.length+1}}" class="datarow" (click)="rowSelTransExp(rowData)" [pSelectableRow]="rowData">
                <td *ngFor="let col of columns;let i=index;" style="width:100px;">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>

          </p-table>
          <p-dialog header="Frame Details" [(visible)]="displayDialogExport" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
            <div class="ui-g ui-fluid" *ngIf="selectedFrame">
              <div class="ui-g-12">
                <div class="ui-g-4">
                  <label>Frame Name</label>
                </div>
                <div class="ui-g-8">
                  <label>: {{selectedFrame.frameName}}</label>
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-4">
                  <label>Turbine Type </label>
                </div>
                <div class="ui-g-8">
                  <label>: {{selectedFrame.condensingTypeName}}</label>
                </div>
              </div> -->
              <!-- <div class="ui-g-12">
                <div class="ui-g-4">
                  <label>Power</label>
                </div>
                <div class="ui-g-8">
                  <label>: {{selectedRange.price}}</label>
                </div>
              </div> -->
              <!-- <div class="ui-g-12">
                <div class="ui-g-4">
                  <label>BTP Cost</label>
                </div>
                <div class="ui-g-8">
                  <input pInputText id="color" [(ngModel)]="selectedFrame.price" />
                </div>
              </div>
              <div *ngIf="(transpApp || transRev)" class="ui-g-12">
                <div class="ui-g-4">
                  <label>Previous BTP Cost</label>
                </div>
                <div class="ui-g-8">
                  <label>: {{prevUnitPrice}}</label>
                </div>
              </div>
            </div>
            <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check" (click)="saveTransExp()" label="Ok"></button>
              </div>
            </p-footer>
          </p-dialog>
          <form #updatePriceTransEx="ngForm" (ngSubmit)="updatePriceTransExp(updatePriceTransEx.value)">
            <div style="margin-left: 10%;" *ngFor="let c of prevRemarks;let i=index;">
              <div *ngIf="c.comment!=null">
                <label class="pcomentslbl">{{c.assingedToname}} </label>
                <textarea disabled class="pcomments" placeholder="Enter yor comments" cols="50" rows="2">{{c.comment}}</textarea>
              </div>
            </div>
            <div style="margin-left: 10%;">
              <label class="comentslbl">Comments
                <span class="asterisk_input">*</span>
              </label>
              <textarea name="coments" [(ngModel)]="remarkss" #comments="ngModel" required class="comments" ngModel placeholder="Enter yor comments"
                cols="50" rows="4"></textarea>
            </div>

            <div style="margin-left: 10%;" *ngIf="(transpApp || transRev)">
              <label class="reviewrlbl"> Accept / Reject the update request here
                <span class="asterisk_input">*</span>
              </label>
              <select (change)="statusUpdate(state.value)" class="reviewr" #state="ngModel" required name="status" ngModel>
                <option selected hidden>Please select </option>
                <option>Accept</option>
                <option>Reject</option>
              </select>
            </div>

            <div style="margin-left: 10%;" *ngIf="(transpEdit || transRev)">
              <div *ngIf="acceptedOnly">
                <label class="reviewrlbl">{{labelName}}
                  <span class="asterisk_input">*</span>
                </label>
                <select class="reviewr" #assignee="ngModel" required name="assigne" ngModel (change)="assignedUser(assignee.value)">
                  <option value="" selected hidden>Please select </option>
                  <option [ngValue]="u.userId" *ngFor="let u of newUsersLilst">{{u.empName}}</option>
                </select>
              </div> -->
              <!-- <button style="width:auto" class="updateTrans" type="button" (click)="assinToOthers()">Assign</button> -->
            <!-- </div>
            <button style="margin-left: 10%;" class="updateTrans" (click)="saveAsDraftEx()" type="button">Save As Draft</button>
            <button style="margin-left: 25px" class="updateTrans" [disabled]="!updatePriceTransEx.form.valid" type="submit">Submit</button>
          </form>
          <label style="margin-left: 10%;" class="successMsg">{{successMsg}}</label>
        </div>
      </div>
    </p-tabPanel> -->

    <!-- new vehicle adding -->
    <!-- <p-tabPanel header="New Vehicle" rightIcon="fa fa-truck" [selected]="selectNew" [disabled]="disableNew">
      <div class="contentDiv">
        <div style="margin-left: 10%;">
          <label class="newVehicleLbl">Please select Vehicle</label>
          <select name="vehicleSel" [disabled]="!(transpEdit)" #newVehicle (change)="newVehicleSel(newVehicle.value)">
            <option selected hidden>Please select</option>
            <option [selected]="n.defaultVal" *ngFor="let n of newVehicleList">{{n.categoryDetDesc}}</option>
          </select>
        </div>
        <div class="priceDiv">
          <p-table #dtn [style]="{width:'80%','margin-left':'8%'}" [columns]="newCols" [value]="vehicleTemplate"> -->
            <!-- <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix">
                <i type="button" class="fa fa-file-excel-o" label="All Data" (click)="dtn.exportCSV()" style="float:right ;background-color:white; color:rgb(213,120,23) ; margin:25px;margin-top:0p;padding:8px; border:1px solid rgb(213,120,23);">
                  Export to Excel</i>
              </div>
            </ng-template> -->
            <!-- <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" style="width:100px;">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr #tr id="{{rowData.frameId + vehiclesWithPrice.length}}" class="datarow">
                <td style="width:100px;">
                  {{rowData.minDistance}}
                </td>
                <td style="width:100px;">
                  {{rowData.maxDistance}}
                </td>
                <td class="newVehicle" pEditableColumn style="width:100px;">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="number" [(ngModel)]="rowData.unitPrice">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData.unitPrice}}
                    </ng-template>
                  </p-cellEditor>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <button style="margin-left: 10%;" class="updateTrans" (click)="submitNewVehicleDetails()" type="button">Save</button>
          <form #updatePriceNewTrans="ngForm" (ngSubmit)="updatePriceTransForm(updatePriceNewTrans.value)">
            <div style="margin-left: 10%;" *ngFor="let c of prevRemarks;let i=index;">
              <div *ngIf="c.comment!=null">
                <label class="pcomentslbl">{{c.assingedToname}} </label>
                <textarea disabled class="pcomments" placeholder="Enter yor comments" cols="50" rows="2">{{c.comment}}</textarea>
              </div>
            </div>
            <div style="margin-left: 10%;">
              <label class="comentslbl">Comments
                <span class="asterisk_input">*</span>
              </label>
              <textarea name="coments" #comments="ngModel" required class="comments" ngModel placeholder="Enter yor comments" cols="50"
                rows="4"></textarea>
            </div>

            <div style="margin-left: 10%;" *ngIf="(transpApp || transRev)">
              <label class="reviewrlbl"> Accept / Reject the update request here
                <span class="asterisk_input">*</span>
              </label>
              <select class="reviewr" (change)="statusUpdate(state.value)" #state="ngModel" required name="status" ngModel>
                <option selected hidden>Please select </option>
                <option>Accept</option>
                <option>Reject</option>
              </select>
            </div>
            <div style="margin-left: 10%;" *ngIf="(transpEdit || transRev)">
              <div *ngIf="acceptedOnly">
                <label class="reviewrlbl">{{labelName}}
                  <span class="asterisk_input">*</span>
                </label>
                <select class="reviewr" #assignee="ngModel" required name="assigne" ngModel (change)="assignedUser(assignee.value)">
                  <option value="" selected hidden>Please select </option>
                  <option [ngValue]="u.userId" *ngFor="let u of newUsersLilst">{{u.empName}}</option>
                </select>
              </div> -->
              <!-- <button style="width:auto" class="updateTrans" type="button" (click)="assinToOthers()">Assign</button> -->
            <!-- </div>
            <button style="margin-left: 10%;" class="updateTrans" [disabled]="finalRangeList.length==0" (click)="SaveAsDraft()" type="button">Save As Draft</button>
            <button style="margin-left: 25px;" class="updateTrans" [disabled]="!updatePriceNewTrans.form.valid" type="submit">Submit</button>
          </form>
          <label style="margin-left: 10%;" class="successMsg">{{successMsg}}</label>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="New Frames" [selected]="selectNewEx" [disabled]="disableNewEx">
      <div class="contentDiv">
        <div style="margin-left: 10%;">
          <label class="newVehicleLbl">Select Frame</label>
          <select style="border-radius:5px;padding:5px;" [disabled]="!(transpEdit)" [(ngModel)]="selectedNewFrame" name="newFrame"
            #newFrame (change)="newFrameSel(newFrame.value)">
            <option hidden>Please select</option>
            <option *ngFor="let n of newFramesForExport">{{n.framePowerDesc}}</option>
          </select>
        </div>
        <div class="priceDiv">
          <form #newFrameTrans="ngForm" (ngSubmit)="newFrameTransForm(newFrameTrans.value)">
            <div class="backPressureDiv" *ngIf="displayBP">
              <div class="oneSetCost">
                <label class="typeOftransLabel">Bangalore to Port</label>
                <input class="costField" [(ngModel)]="BBP" ngModel name="BBP" type="number">
              </div>
              <div class="oneSetCost">
                <label class="typeOftransLabel">Port to Port</label>
                <input class="costField" [(ngModel)]="BCD" ngModel name="BCD" type="number">
              </div>
            </div>
            <div class="CondenserAccDiv" *ngIf="displayCD">
              <div class="oneSetCost">
                <label class="typeOfturLabel">ACC</label>
                <label class="typeOftransLabel">Bangalore to Port</label>
                <input class="costField" [(ngModel)]="ACCBP" ngModel name="ACCBP" type="number">
              </div>
              <div class="oneSetCost">
                <label class="typeOftransLabel">Port to Port</label>
                <input class="costField" [(ngModel)]="ACCCD" ngModel name="ACCCD" type="number">
              </div>
            </div>
            <div class="CondenserWccDiv" *ngIf="displayCD">
              <div class="oneSetCost">
                <label class="typeOfturLabel">WCC</label>
                <label class="typeOftransLabel">Bangalore to Port</label>
                <input class="costField" [(ngModel)]="WCCBP" ngModel name="WCCBP" type="number">
              </div>
              <div class="oneSetCost">
                <label class="typeOftransLabel">Port to Port</label>
                <input class="costField" [(ngModel)]="WCCCD" ngModel name="WCCCD" type="number">
              </div>
            </div>
            <button style="margin-left: 10%;" class="updateTrans" type="submit">Save</button>
          </form>
          <form #updatePriceTransNewFrame="ngForm" (ngSubmit)="updatePriceTransExpNewFrameForm(updatePriceTransNewFrame.value)">
            <div style="margin-left: 10%;" *ngFor="let c of prevRemarks;let i=index;">
              <div *ngIf="c.comment!=null">
                <label class="pcomentslbl">{{c.assingedToname}} </label>
                <textarea disabled class="pcomments" placeholder="Enter yor comments" cols="50" rows="2">{{c.comment}}</textarea>
              </div>
            </div>
            <div style="margin-left: 10%;">
              <label class="comentslbl">Comments
                <span class="asterisk_input">*</span>
              </label>
              <textarea name="coments" [(ngModel)]="remarkss" #comments="ngModel" required class="comments" ngModel placeholder="Enter yor comments"
                cols="50" rows="4"></textarea>
            </div>

            <div style="margin-left: 10%;" *ngIf="(transpApp || transRev)">
              <label class="reviewrlbl"> Accept / Reject the update request here
                <span class="asterisk_input">*</span>
              </label>
              <select class="reviewr" (change)="statusUpdate(state.value)" #state="ngModel" required name="status" ngModel>
                <option selected hidden>Please select </option>
                <option>Accept</option>
                <option>Reject</option>
              </select>
            </div>

            <div style="margin-left: 10%;" *ngIf="(transpEdit || transRev)">
              <div *ngIf="acceptedOnly">
                <label class="reviewrlbl">{{labelName}}
                  <span class="asterisk_input">*</span> -->
                <!-- </label>
                <select class="reviewr" #assignee="ngModel" required name="assigne" ngModel (change)="assignedUser(assignee.value)">
                  <option value="" selected hidden>Please select </option>
                  <option [ngValue]="u.userId" *ngFor="let u of newUsersLilst">{{u.empName}}</option>
                </select>
              </div> -->
              <!-- <button style="width:auto" class="updateTrans" type="button" (click)="assinToOthers()">Assign</button> -->
            <!-- </div>
            <button style="margin-left: 10%;" class="updateTrans" (click)="saveAsDraftExNewFrame()" type="button">Save As Draft</button>
            <button style="margin-left: 25px" class="updateTrans" [disabled]="!updatePriceTransNewFrame.form.valid" type="submit">Submit</button>
          </form>
          <label style="margin-left: 10%;" class="successMsg">{{successMsg}}</label>
        </div>
      </div>
    </p-tabPanel> -->
  </p-tabView>
</div>