<div>
    <h2 style="margin-left:25px;color:gray">
      Update DBO Electrical Columns Cost
    </h2>
    <div style="margin-left:25px;" *ngIf="dispDropdown">
      <form #ItemDetailsForm="ngForm" (ngSubmit)="getTableData(ItemDetailsForm.value)">
        <div class="reqStyl">
          <label>Customer Type
            <span class="asterisk_input">*</span>
          </label>
          <select class="widthInc" required ngModel name="custType" #custType="ngModel">
            <option value="" hidden selected>Please select</option>
            <option [ngValue]="custType.field" *ngFor="let custType of custTypeArray">{{custType.header}}</option>
          </select>
        </div>
        <div class="reqStyl">
          <label>Turbine Type
              <span class="asterisk_input">*</span>
            </label>
            <select class="widthInc" required ngModel name="turbType" #turbType="ngModel" (change)="getItemDetails(turbType.value)">
              <option value="" hidden selected>Please select</option>
              <option [ngValue]="turbType.field" *ngFor="let turbType of turbTypeArray">{{turbType.header}}</option>
            </select>
        </div>
        <div class="reqStyl">
          <label>Item Name
            <span class="asterisk_input">*</span>
          </label>
          <select class="widthInc" required ngModel name="itemDetails" #itemDetails="ngModel" (change)="getColData(ItemDetailsForm.value)">
              <option value="" hidden selected>Please select</option>
              <option [ngValue]="dBOMechList.catDetId" *ngFor="let dBOMechList of dBOMechanicalListArray">{{dBOMechList.catDetDesc}}</option>
            </select>
        </div>
        <div class="reqStyl" *ngIf="colNames.length>0">
          <label>Columns
            <span class="asterisk_input">*</span>
          </label>
          <select class="widthInc" required ngModel name="colName" #colName="ngModel" (change)="enabelGetDataBtn(colName.value)">
            <option value="" hidden selected>Please select</option>
            <option *ngFor="let colNm of colNames">{{colNm}}</option>
          </select>
        </div>
        <button type="button" [disabled]="(!ItemDetailsForm.form.valid) || disableBtn" (click)="getTableData(ItemDetailsForm.value)"
          class="btn2">Get Data</button>
      </form>
    </div>
  
    <div *ngIf="!dispDropdown" style="margin-left:25px;">
      <div class="reqStyl">
        <label>
          Customer Type :
        </label>
        <label>
          {{custType}}
        </label>
      </div>
      <div class="reqStyl">
        <label>
          Voltage Generation:
        </label>
        <label>
          {{panelCode}}
        </label>
      </div>
      <div class="reqStyl">
        <label>
          Item Name :
        </label>
        <label>
          {{itemName}}
        </label>
      </div>
    </div>
  
    <div class="contentDiv" *ngIf="tableDiv">
      <div class="priceDiv">
        <p-table #dt [columns]="cols" [value]="DBOData" selectionMode="single" [(selection)]="selectedData" (onRowSelect)="onRowSelect($event)"
          [paginator]="true" [rows]="15">
  
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input class="localIp" placeholder="Search here.." *ngSwitchCase="'itemName'" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')">
                <input class="localIp" placeholder="Search here.." *ngSwitchCase="'colNm'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input class="localIp" placeholder="Search here.." *ngSwitchCase="'colValCd'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input class="localIp" placeholder="Search here.." *ngSwitchCase="'prevDirectPrice'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input class="localIp" placeholder="Search here.." *ngSwitchCase="'directPrice'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input class="localIp" placeholder="Search here.." *ngSwitchCase="'prevPercent'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input class="localIp" placeholder="Search here.." *ngSwitchCase="'percentage'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr #tr id="{{rowData.colValId}}" class="datarow" [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-rowData>
            <div style="text-align:left">
              <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  
    <p-dialog header="Item Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
      <div class="ui-g ui-fluid" *ngIf="selectedData">
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label>Item Name</label>
          </div>
          <div class="ui-g-8">
            <label>{{itemName}}</label>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label>Column Name</label>
          </div>
          <div class="ui-g-8">
            <!-- <input pInputText id="year" [(ngModel)]="selectedData.colNm" /> -->
            <label>{{selectedData.colNm}}</label>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label>Column Value</label>
          </div>
          <div class="ui-g-8">
            <input pInputText [(ngModel)]="selectedData.colValCd" />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label>Direct Price</label>
          </div>
          <div class="ui-g-8">
            <input pInputText [(ngModel)]="selectedData.directPrice" />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label>Percentage</label>
          </div>
          <div class="ui-g-8">
            <input pInputText [(ngModel)]="selectedData.percentage" />
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
      </p-footer>
    </p-dialog>
  
    <div style="margin-left: 4%;" *ngIf="tableDiv">
      <form #updateDboEleForm="ngForm" (ngSubmit)="updateDboEle(updateDboEleForm.value)">
        <div *ngFor="let c of prevRemarks;let i=index;">
          <label class="pcomentslbl">{{c.assingedToname}} </label>
          <textarea class="pcomments" disabled placeholder="Enter your comments" cols="50" rows="2">{{c.comment}}</textarea>
        </div>
  
        <div>
          <label class="comentslbl">Comments
            <span class="asterisk_input">*</span>
          </label>
          <textarea name="coments" [(ngModel)]="remarkss" #comments="ngModel" required class="comments" ngModel placeholder="Enter Your Comments"
            cols="50" rows="4"></textarea>
        </div>
  
  
        <div *ngIf="(dboEleApp || dboEleRev)">
          <label class="reviewrlbl"> Accept / Reject the update request here
            <span class="asterisk_input">*</span>
          </label>
          <select class="reviewr" #state="ngModel" required name="status" ngModel>
            <option selected hidden>Please select </option>
            <option>Accept</option>
            <option>Reject</option>
          </select>
        </div>
  
        <div *ngIf="(dboEleEdit || dboEleRev)">
          <label class="reviewrlbl">{{labelName}}
            <span class="asterisk_input">*</span>
          </label>
          <select class="reviewr" #assignee="ngModel" required name="assigne" ngModel (change)="assignedUser(assignee.value)">
            <option value="" selected hidden>Please select </option>
            <option [ngValue]="u.userId" *ngFor="let u of newUsersLilst">{{u.empName}}</option>
          </select>
        </div>
        <button class="updateTrans" [disabled]="finalRangeList.length==0" (click)="SaveAsDraft()" type="button">Save As Draft</button>
        <button style="margin-left: 25px;" class="updateTrans" [disabled]="(!updateDboEleForm.form.valid) || (finalRangeList.length==0)"
          type="submit">Update</button>
      </form>
    </div>
    <p-dialog header="Request Status" [(visible)]="displayMessage" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
      <label class="successMsg" *ngFor="let s of successMsg">{{s}}</label>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-check" (click)="closeMessage()" label="Ok"></button>
        </div>
      </p-footer>
    </p-dialog>
  
  </div>