<!-- <div class="example-container">
    <form class="example-form" #endUserUpdateForm="ngForm" (ngSubmit)="updateEndUser(endUserUpdateForm.value)">
      <h3>Update End User</h3>  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" (click)="enablefields(displayMode)"></i>
        <div class="userCreation">
                <div class="custStyl" hidden>
                        <label hidden>End User Id</label> 
                        <input hidden type="text" class="inpStyl" [(ngModel)]="selectedEndUser.endUserId" ngModel name="endUserId" [disabled]="displayMode" placeholder="Type End User Name"/>
                      </div>
            <div class="custStyl">
                <label>End User Name</label> 
                <input type="text" class="inpStyl" [(ngModel)]="selectedEndUser.endUserName" ngModel name="endUserName" [disabled]="displayMode" placeholder="Type End User Name"/>
              </div>
              <div class="custStyl">
                  <label>Contact Number</label>  
                  <input type="number" class="inpStyl" [(ngModel)]="selectedEndUser.contactNumber" ngModel name="contactNumber" [disabled]="displayMode" placeholder="Type Contact Number"/>
                </div>
                <div class="custStyl">
                    <label>Email Id</label> 
                    <input type="email" class="inpStyl" [(ngModel)]="selectedEndUser.emailId" ngModel name="emailId" [disabled]="displayMode"  placeholder="Type Email Id"/>
                </div>
                <div class="custStyl">
                    <label>Address</label> 
                    <textarea  class="textAreaStyl" [(ngModel)]="selectedEndUser.address" ngModel name="address" [disabled]="displayMode"  placeholder="Type Address"></textarea>
                </div>
                <div class="custStyl">
                    <label>City</label> 
                    <input type="text" class="inpStyl" [(ngModel)]="selectedEndUser.city" ngModel name="city" [disabled]="displayMode"  placeholder="Type City "/>
                </div>
                <div class="custStyl">
                    <label>State</label> 
                    <input type="text" class="inpStyl" [(ngModel)]="selectedEndUser.state" ngModel name="state" [disabled]="displayMode"  placeholder="Type State"/>
                </div>
                <div class="custStyl">
                    <label>Country</label> 
                    <input type="text" class="inpStyl" [(ngModel)]="selectedEndUser.country" ngModel name="country" [disabled]="displayMode"  placeholder="Type Country"/>
                </div>
                <div class="custStyl">
                    <label>Pincode</label> 
                    <input type="number" class="inpStyl" [(ngModel)]="selectedEndUser.pincode" ngModel name="pincode" [disabled]="displayMode"  placeholder="Type Pincode"/>
                </div>
                <div class="checkStyl">
                    <input type="checkbox" class="checkBoxStyl" [(ngModel)]="selectedEndUser.active" ngModel name="active" [disabled]="displayMode"  value="Active">
                    <label class="valStyl">Is Active?</label>
                </div>
                <div class="btn1">
                    <button class="btn2Style" type="reset">Reset</button> 
                    <button class="btn2" type="submit">Submit</button>                  
                </div>
        </div>
    </form>
  </div>       -->

<div class="example-container">
    <h2>Update End User</h2>

    <div *ngIf="!hideprogress" style="margin-left:40%;">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <form class="example-form" *ngIf="hideprogress" #endUserUpdateForm="ngForm" (ngSubmit)="updateEndUser(endUserUpdateForm.value)">

        <i class="fa fa-pencil-square-o fa-lg" style="color:rgb(213,120,23)" aria-hidden="true" (click)="enablefields(displayMode)"></i>
        <div class="userCreation">
            <div class="custStyl" hidden>
                <label hidden>End User Id</label>
                <input hidden type="text" class="inpStyl" [(ngModel)]="selectedEndUser.endUserId" ngModel name="endUserId" [disabled]="displayMode"
                    placeholder="Type End User Name" />
            </div>
            <div class="custStyl">
                <label>End User Name
                    <span class="asterisk_input">*</span>
                </label>
                <input type="text" class="inpStyl" [(ngModel)]="selectedEndUser.endUserName" #endUserName="ngModel" [ngClass]="{'bordercolor': endUserName.errors && endUserName.dirty}"
                    required [disabled]="displayMode" [pattern]="emptyTextPattern" name="endUserName" placeholder="Type End User Name" />
            </div>
            <div class="custStyl">
                <label>Shipped To
                    <span class="asterisk_input">*</span>
                </label>
                <input type="text" class="inpStyl" [(ngModel)]="selectedEndUser.sapCode" #sapCode="ngModel" name="sapCode" disabled/>
            </div>
            <div class="custStyl">
                <label>Contact Number</label>
                <input type="number" class="inpStyl" [(ngModel)]="selectedEndUser.contactNumber" [pattern]="mobnumPattern" ngModel name="contactNumber"
                    #contactNumber="ngModel" [ngClass]="{'bordercolor': contactNumber.errors && contactNumber.dirty}" [disabled]="displayMode"
                    placeholder="Type Contact Number" />
            </div>
            <div *ngIf="contactNumber.errors?.pattern" style="margin:10px; color:red;">
                Contact number should be of 10 digits
            </div>
            <div class="custStyl">
                <label>Email Id
                    <span class="asterisk_input">*</span>
                </label>
                <input type="email" class="inpStyl" [(ngModel)]="selectedEndUser.emailId" required [pattern]="emailPattern" ngModel name="emailId"
                    #emailId="ngModel" [ngClass]="{'bordercolor': emailId.errors && emailId.dirty && emailId.touched }" [disabled]="displayMode"
                    placeholder="Type Email Id" />
            </div>
            <div *ngIf="emailId.errors?.pattern" style="margin:10px; color:red;">
                Please enter valid Email Id
            </div>
            <div class="custStyl">
                <label>Address</label>
                <textarea class="textAreaStyl" [(ngModel)]="selectedEndUser.address" minlength="15" ngModel name="address" #address="ngModel"
                    [ngClass]="{'bordercolor': address.errors && address.dirty}" [disabled]="displayMode" placeholder="Type Address"></textarea>
            </div>
            <div *ngIf="address.errors?.pattern" style="margin:10px; color:red;">
                Minimum length must be 15 characters
            </div>

            <div class="custStyl">
                <label>Country
                    <span class="asterisk_input">*</span>
                </label>
                <select class="widthInc" [(ngModel)]="selectedEndUser.country" ngModel name="country" value="country.locationName" [ngClass]="{'bordercolor': country.errors && country.dirty}"
                    required [disabled]="displayMode" #country="ngModel" (blur)="selectedCountry(country.value)">
                    <option *ngFor="let country of countries" [selected]="country.defaultVal">{{country.locationName}}</option>
                </select>
            </div>
            <div *ngIf="disableDropdownList" class="custStyl">
                <label>States
                    <span class="asterisk_input">*</span>
                </label>
                <select class="widthInc" [(ngModel)]="selectedEndUser.state" ngModel name="state" value="states.locationName" [ngClass]="{'bordercolor': state.errors && state.dirty}"
                    required [disabled]="displayMode" #state="ngModel" (blur)="selectedStates(state.value)">
                    <option *ngFor="let states of StatesList" [selected]="states.defaultVal">{{states.locationName}}</option>
                </select>
            </div>
            <div *ngIf="disableDropdownList" class="custStyl">
                <label>Districts
                    <span class="asterisk_input">*</span>
                </label>
                <select class="widthInc" [(ngModel)]="selectedEndUser.district" ngModel name="district" value="district.locationName" #district="ngModel"
                    [ngClass]="{'bordercolor': district.errors && district.dirty}" required [disabled]="displayMode">
                    <option *ngFor="let district of DistrictsList" [selected]="district.defaultVal">{{district.locationName}}</option>
                </select>
            </div>

            <div *ngIf="disableDropdown" class="custStyl">
                <label>State
                    <span class="asterisk_input">*</span>
                </label>
                <input type="text" class="inpStyl" [(ngModel)]="selectedEndUser.state" ngModel name="state" #state="ngModel" [ngClass]="{'bordercolor': state.errors && state.dirty}"
                    required [disabled]="displayMode" [pattern]="emptyTextPattern" placeholder="Type State" />
            </div>
            <div class="custStyl">
                <label>City
                    <span class="asterisk_input">*</span>
                </label>
                <input type="text" class="inpStyl" [pattern]="emptyTextPattern" [(ngModel)]="selectedEndUser.city" ngModel name="city" #city="ngModel" [ngClass]="{'bordercolor': city.errors && city.dirty}"
                    required [disabled]="displayMode" placeholder="Type City " />
            </div>

            <!-- <div class="custStyl">
                    <label>Country<span class="asterisk_input">*</span></label> 
                    <input type="text" class="inpStyl" [(ngModel)]="selectedEndUser.country" ngModel name="country"  #country="ngModel"
                    [ngClass]="{'bordercolor': country.errors && country.dirty}"  required [disabled]="displayMode"  placeholder="Type Country"/>
                </div> -->
            <div class="custStyl">
                <label>Pincode</label>
                <input type="number" class="inpStyl" [pattern]="emptyTextPattern" [(ngModel)]="selectedEndUser.pincode" ngModel name="pincode" #pincode="ngModel" [ngClass]="{'bordercolor': pincode.errors && pincode.dirty}"
                    min="0" [disabled]="displayMode" placeholder="Type Pincode" />
            </div>
            <div class="checkStyl">
                <input type="checkbox" class="checkBoxStyl" [(ngModel)]="selectedEndUser.active" ngModel name="active" [disabled]="displayMode"
                    value="Active">
                <label class="valStyl">Is Active?</label>
            </div>
            <div class="btn1">
                <button class="btn2Style" type="button" (click)="goback()">Cancel</button>
                <button [disabled]="!endUserUpdateForm.form.valid" class="btn2" type="submit">Submit</button>
            </div>
        </div>
        <div style="margin-left:50%; margin-top: 20%">
            <p-progressSpinner [hidden]="hidespinner"></p-progressSpinner>
        </div>
    </form>
</div>