<h1>Password Management</h1>

<div class="container">
  <form #passwordManagementForm="ngForm" (ngSubmit)="resetPassword(passwordManagementForm.value)"> 
      <label for="password">Current password</label>
      <input type="password" ngModel id="password" name="password" #password="ngModel" placeholder="Enter Current Password" required/>
       <div class="error" *ngIf="password.errors && password.dirty" [hidden]="!password.errors.required">
            Enter Current password
        </div>

      <label hidden for="userId">User Id</label>
      <input hidden type="text" [(ngModel)]= "loggedInUserId" id="userId" name="userId" >
      
      <label >New Password</label>
      <input type="password" ngModel id="newPassword" name="newPassword" #newPassword="ngModel" placeholder="Enter New Password" required/>
      <div class="error" *ngIf="newPassword.errors && newPassword.dirty" [hidden]="!newPassword.errors.required">
          Enter New password
      </div>

      <label for="ConfirmPassword">Confirm Password</label>
      <input type="password"  ngModel id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" placeholder="Re-enter New Password" required/>
      <div class="error" *ngIf="confirmPassword.errors && confirmPassword.dirty" [hidden]="!confirmPassword.errors.required">
          Enter Confirm password
      </div>

      <label style="color:red">{{errorMessage}}</label>

      <div id="buttons">
          <button type="reset">Reset</button>
          <button [disabled]="!passwordManagementForm.form.valid"  type="submit" >Submit </button>
        </div>
        <div style="margin-left:42%;margin-top:5%;">
            <p-progressSpinner [hidden]="hidespinner" [style]="{width: '50px', height: '50px'}" strokeWidth="5" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
        </div> 
      </form>   
  </div>