input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   
}

h1{
    margin-top: 45px;
}

input[type=password]:hover {
    background-color: #ffffff;
}

.container{
    width: 40%;
    border-radius: 5px;
    background-color: #f2f1f0;
    padding: 40px;
    margin-left: 395px;
    margin-top: 80px;
}
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke:  rgb(213,120,23);
    }
    40% {
        stroke:  rgb(213,120,23);
    }
    66% {
        stroke:  rgb(213,120,23);
    }
    80%,
    90% {
        stroke:  rgb(213,120,23);
    }
  }
#buttons {
    margin-top: 18px;
    overflow: hidden;
    padding-left: 130px;
}

#buttons :first-child {
    float: right;
}

#buttons :nth-child(2) {
    margin-right: 15px;
    float: right;
    padding: 10px 25px;
}

button{
    background: rgba(213, 120, 23);
    padding: 12px 25px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    width:100px;
}

#buttons :first-child {
    float: left;
}
#buttons :nth-child(2) {
    margin-left: 60px;
    padding: 12px 25px;
}
#buttons {
    text-align: center;
    width: 280px;
}
.error{
    margin-bottom: 20px;
    color:red;
}


button:disabled{
    background:gray;
   
}
