<div class="alignOrder">
  <nav>
    <table>
      <tr>
        <td><div class="decoLink1"><button [routerLink]="['CustomerDetails']" routerLinkActive="active decoLink1">Customer Details</button></div></td>
        <!-- <td><div class="decoLink1"><button [routerLink]="['EndUserDetails']"  routerLinkActive="active decoLink1" >End User Details</button></div></td> -->
        <td><div class="decoLink1"><button disabled="true" [routerLink]="['CustomerRequirement']"  routerLinkActive="active decoLink1" >Customer Requirement</button></div></td>
      </tr>
    </table>
</nav>
<router-outlet></router-outlet>
</div>
  