<div>
  <h2 style="margin-left:25px;color:gray">
    Update DBO Electrical AddOn Cost
  </h2>
  <p-tabView [activeIndex]="tabIndex" (onChange)="handleChange($event)">
    <p-tabPanel header=" Update Cost" leftIcon="fa fa-pencil-square-o" [disabled]="exist">
      <div style="margin-left:25px;" *ngIf="dispDropdown">
        <form #ItemDetailsForm="ngForm" (ngSubmit)="getTableData(ItemDetailsForm.value)">

          <div class="reqStyl">
            <label>Voltage Generation
              <span class="asterisk_input">*</span>
            </label>
            <select class="widthInc" required ngModel name="voltageGeneration" #voltageGeneration="ngModel" (change)="getItemDetails(voltageGeneration.value)">
              <option value="" hidden selected>Please select</option>
              <option [ngValue]="volGeneration.header" *ngFor="let volGeneration of volGenerationArray">{{volGeneration.header}}</option>
            </select>
          </div>
          <div class="reqStyl">
           
            <label>Item Name
              <span class="asterisk_input">*</span>
            </label>
            <select class="widthInc" required ngModel name="itemDetails" #itemDetails="ngModel" (change)="getItemDetailsVal(itemDetails.value)">
              <option value="" hidden selected>Alternator</option>
              <option [ngValue]="dBOElectricalList.catDetId" *ngFor="let dBOElectricalList of dBOElectricalListArray">{{dBOElectricalList.catDetDesc}}</option>
            </select>
          </div> 
     <!--    <div class="reqStyl">
           <label>Customer Type
              <span class="asterisk_input">*</span>
            </label>
            <select class="widthInc" required ngModel name="custType" #custType="ngModel" (change)="getCustTypeVal(custType.value)">
              <option value="" hidden selected>Please select</option>
              <option [ngValue]="custType.field" *ngFor="let custType of custTypeArray">{{custType.header}}</option>
            </select>
          </div>-->
          <button type="submit" [disabled]="(!ItemDetailsForm.form.valid)" class="btn2">Get Data</button>
        </form>
      </div>

    <!--  <div *ngIf="!dispDropdown" style="margin-left:25px;">
        <div class="reqStyl">
          <label>
            Voltage Generation:
          </label>
          <label>
            {{panelCode}}
          </label>
        </div>
        <div class="reqStyl">
          <label>
            Item Name :
          </label>
          <label>
            {{itemName}}
          </label>
        </div>
        <div class="reqStyl">
          <label>
            Customer Type :
          </label>
          <label>
            {{custType}}
          </label>
        </div>
      </div> -->

      <div class="contentDiv" *ngIf="tableDiv">
        <div class="priceDiv">

          <p-table #dt [tableStyle]="{'width': '80%' , 'margin-left':'10%'}" [columns]="cols" [value]="DBOData" selectionMode="single"
            [(selection)]="selectedRange" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix">
                <i type="button" class="fa fa-file-excel-o" label="All Data" (click)="dt.exportCSV()" style="float:right ;background-color:white; color:rgb(213,120,23) ; margin:25px;margin-top:0px;padding:8px; border:1px solid rgb(213,120,23);">
                  Export to Excel</i>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" style="width:100px;" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
              <tr> 
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'itemName'" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'minVal'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'maxVal'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'colNm'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'colValCd'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'prevPrice'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input class="localIp" placeholder="Search here.." *ngSwitchCase="'price'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr #tr id="{{rowData.priceId}}" class="datarow" [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" style="width:100px;">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>

        </div>
      </div>

      <p-dialog header="Item Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
        <div class="ui-g ui-fluid" *ngIf="selectedRange">
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="vin">Item Name</label>
            </div>
            <div class="ui-g-8">
              <label>: {{selectedRange.itemName}}</label>
            </div>
          </div>
         
          <div *ngIf="(dboMechApp || dboMechRev)" class="ui-g-12">
            <div class="ui-g-4">
              <label>Previous Price </label>
            </div>
            <div class="ui-g-8">
              <label>: {{selectedRange.prevPrice}}</label>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="brand">Price</label>
            </div>
            <div class="ui-g-8">
              <input pInputText id="color" [(ngModel)]="selectedRange.price" />
            </div>
          </div>
        </div>
        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
          </div>
        </p-footer>
      </p-dialog>

    </p-tabPanel>

    <!-- Add Price code starts -->

      <p-tabPanel header="Add Cost" leftIcon="fa fa-plus-square" [disabled]="addNew">
      <div>
        <div *ngIf="dispDropdown">
          <form #newDataForm="ngForm" (ngSubmit)="getNewData(newDataForm.value)">
            <div class="reqStyl">
              <label>Voltage Generation
                <span class="asterisk_input">*</span>
              </label>
              <select class="widthInc" required ngModel name="panelCd" #panelCd="ngModel" (change)="getItemDet(panelCd.value)">
                <option value="" hidden selected>Please select</option>
                <option [ngValue]="volGeneration.header" *ngFor="let volGeneration of volGenerationArray">{{volGeneration.header}}</option>
              </select>
            </div>
            <div class="reqStyl">
              <label>Item Name
                <span class="asterisk_input">*</span>
              </label>
              <select class="widthInc" required ngModel name="item" #item="ngModel">
                <option value="" hidden selected>Please select</option>
                <option [ngValue]="dBOEleList.catDetId" *ngFor="let dBOEleList of dBOElectricalListArrayNew">{{dBOEleList.catDetDesc}}</option>
              </select>
            </div>
            <button type="button" [disabled]="(!newDataForm.form.valid)" class="btn2" (click)="getNewData(newDataForm.value)">Get Data</button>
          </form>
        </div>

        <div *ngIf="!dispDropdown" style="margin-left:25px;">
          <div class="reqStyl">
            <label>
              Voltage Generation:
            </label>
            <label>
              {{panelCdNew}}
            </label>
          </div>
          <div class="reqStyl">
            <label>
              Item Name :
            </label>
            <label>
              {{itemNameNew}}
            </label>
          </div>
        </div>

        <div class="eleCompDiv" *ngIf="newlyAddedData.length>0">
          <form #addCostForm="ngForm" (ngSubmit)="addCost(addCostForm.value)">
            <div class="frameDet" *ngFor="let question of questionsBean ; let i=index">
              <label> {{questionsBean[i].dropDownType.value}}
                <span class="asterisk_input">*</span>
              </label>
              <select class="widthInc" required ngModel name="{{i}}" #{{questionsBean[i].dropDownType.value}}="ngModel">
                <option value="" hidden selected>Please select</option>
                <option [ngValue]="questionsBean[i].dropDownValueList[j].value" *ngFor="let Dropdown of questionsBean[i].dropDownValueList; let j=index">
                  {{questionsBean[i].dropDownValueList[j].value}}
                </option>
              </select>
            </div>

            <div style="margin-top: 20px;">
              <div style="display:inline-block">
                <label>Cost for Domestic
                  <span class="asterisk_input">*</span>
                </label>
                <input type="number" required class="widthInc" ngModel name="newCostDom" #newCostDom="ngModel" placeholder="Enter Cost" />
              </div>
              <div style="display:inline-block">
                <label style="margin-right: 18px;">Cost for Export
                  <span class="asterisk_input">*</span>
                </label>
                <input type="number" class="widthInc" ngModel name="newCostEx" #newCostEx="ngModel" placeholder="Enter Cost" (keyup)="exCost(newCostEx.value)"
                />
              </div>
              <button type="submit" [disabled]="!addCostForm.form.valid" class="btn2">Add</button>
            </div>
             

          </form>
        </div>

        <div *ngIf="tableDiv" style="margin-top: 20%;">
          <p-table #dt [tableStyle]="{'width': '80%' , 'margin-left':'10%'}" [columns]="cols" [value]="finalRangeList" [paginator]="true"
            [rows]="10">
            <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">

              <i type="button" class="fa fa-file-excel-o" label="All Data" (click)="dt.exportCSV()" style="float:right ;background-color:white; color:rgb(213,120,23) ; margin:25px;margin-top:0px;padding:8px; border:1px solid rgb(213,120,23);">
                Export to Excel</i>
            </div>
          </ng-template> 
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" style="width:100px;" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
              <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'itemName'" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'custType'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'colNm'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'prevPrice'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  <input class="localIp" placeholder="Search here.." *ngSwitchCase="'price'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr #tr id="{{rowData.priceId}}" class="datarow" [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" style="width:100px;">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div> 
    </p-tabPanel>
  </p-tabView>

  <div style="margin-left: 13%;" *ngIf="tableDiv">
    <form #updateDboEleForm="ngForm" (ngSubmit)="updateDboEle(updateDboEleForm.value)">
      <div *ngFor="let c of prevRemarks;let i=index;">
        <label class="pcomentslbl">{{c.assingedToname}} </label>
        <textarea class="pcomments" disabled placeholder="Enter your comments" cols="50" rows="2">{{c.comment}}</textarea>
      </div>

      <div>
        <label class="comentslbl">Comments
          <span class="asterisk_input">*</span>
        </label>
        <textarea name="coments" [(ngModel)]="remarkss" #comments="ngModel" required class="comments" ngModel placeholder="Enter Your Comments"
          cols="50" rows="4"></textarea>
      </div>


      <div *ngIf="(dboEleApp || dboEleRev)">
        <label class="reviewrlbl"> Accept / Reject the update request here
          <span class="asterisk_input">*</span>
        </label>
        <select class="reviewr" #state="ngModel" required name="status" ngModel>
          <option selected hidden>Please select </option>
          <option>Accept</option>
          <option>Reject</option>
        </select>
      </div>

      <div *ngIf="(dboEleEdit || dboEleRev)">
        <label class="reviewrlbl">{{labelName}}
          <span class="asterisk_input">*</span>
        </label>
        <select class="reviewr" #assignee="ngModel" required name="assigne" ngModel (change)="assignedUser(assignee.value)">
          <option value="" selected hidden>Please select </option>
          <option [ngValue]="u.userId" *ngFor="let u of newUsersLilst">{{u.empName}}</option>
        </select>
      </div>
      <button class="updateTrans" [disabled]="finalRangeList.length==0" (click)="SaveAsDraft()" type="button">Save As Draft</button>
      <button style="margin-left: 25px;" class="updateTrans" [disabled]="(!updateDboEleForm.form.valid) || (finalRangeList.length==0)"
        type="submit">Update</button>
    </form>
  </div>
  <p-dialog header="Request Status" [(visible)]="displayMessage" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <label class="successMsg" *ngFor="let s of successMsg">{{s}}</label>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-check" (click)="closeMessage()" label="Ok"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>  