<div class="container">

    <h1>Consultant Information</h1>
    <div *ngIf="!hideprogress" style="margin-left:40%;">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <p-table #dt [columns]="cols" *ngIf="hideprogress" [value]="consultants" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
                <i type="button" class="fa fa-user" (click)="CreateNewConsultant()" style="float:right ;background-color:white; color:rgb(213,120,23) ;padding:8px; border:1px solid rgb(213,120,23); margin:25px;margin-top:0px;">
                    Create New Consultant</i>
                <i type="button" class="fa fa-file-pdf-o" label="All Data" (click)="exportPDF(dt)" style="float:right ;background-color:white; color:rgb(213,120,23) ; margin:25px;margin-top:0px;padding:8px; border:1px solid rgb(213,120,23);">
                    Export to PDF</i>
                <i type="button" class="fa fa-file-excel-o" label="All Data" (click)="dt.exportCSV()" style="float:right ;background-color:white; color:rgb(213,120,23) ; margin:25px;margin-top:0px;padding:8px; border:1px solid rgb(213,120,23);">
                    Export to Excel</i>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
            </tr>
            <tr>

                <th class="secondHeader" *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input class="localIp" placeholder="Search here.." *ngSwitchCase="'firmName'" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <input class="localIp" placeholder="Search here.." *ngSwitchCase="'spocName'" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <input class="localIp" placeholder="Search here.." *ngSwitchCase="'emailId'" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <input class="localIp" placeholder="Search here.." *ngSwitchCase="'contactNumber'" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="datarow" [pSelectableRow]="rowData" [class.selected]="rowData === selCust">
                <td *ngFor="let col of columns" (click)="next(rowData)">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>