.container{
    padding: 50px;
    padding-top: 0px;
    font-family:  Helvetica;
}
h1{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 30px;
}
.comments{
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 6px;
    padding: 7px;
    outline-style: none;
}
.manualDiv{
    border: 1px solid black;
    width: 500px;
    height: 500px;
}
.btn2Style{
    padding: 8px;
    background-color: rgb(213,120,23);
    font-weight: bold;
    color: white;
    border: 1px solid rgb(213,120,23);
    border-radius: 5px;
    width:130px;
    margin: 15px;
 }
 .btn2{
    border-radius: 3px;
    width:80px;
    margin: 15px;
    color: white;
    padding: 6px;
    background-color: rgb(213,120,23);
}
 .container-fluid{
    margin:100px;
    margin-left: 10%;
    /* background-image: url(assets/default.png); */
    height: 300px;
    width: 1000px;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 55px;
    padding-top: 5px;
    font-family: Helvetica;
    font-size: 13px;
}
.navButton{
    padding: 5px;
    border: 1px solid rgb(213,120,23);
    color:white;
    float: right;
    background-color: rgb(213,120,23);
}
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke:  rgb(213,120,23);
    }
    40% {
        stroke:  rgb(213,120,23);
    }
    66% {
        stroke:  rgb(213,120,23);
    }
    80%,
    90% {
        stroke:  rgb(213,120,23);
    }
  }
  .localIp{
    padding: 3px;
    height: 30px;
    width: 100%;
    border: none;
}
.secondHeader{
    background-color: white;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}
.datarow:last-child{
    border-bottom: 1px solid;
}
th{
    background-color: gray;
    text-align: left;
    color: white;
    height: 40px;
    border: 1px solid gray;
}
h2{
    margin-left: 30px;
    color: gray;
}
.loggedUserstyle{
    height: 300px; 
    width: 300px; 
    margin: 15px; 
    margin-top: 8px;
    float: left; 
    display: block;
    position: absolute; 
    border-radius: 50%;
}
.tableStyle{
    margin-top: 50px;
    margin-left: 70px;
}
th:nth-child(6){
    width: 50px;
}
th:nth-child(7){
    width: 50px;
}
.btnSub{
    color: blue;
}