.UBOContainer{
    font-size: 14px;  
    font-family:  Helvetica;
}

.asterisk_input{
    color:red;
    margin-left:3px;

}
.widthInc{
    height:27px;
    width: 185px;
    border-radius: 5px;
    border: 1px solid;
    margin-left: 3px;
    padding: 0px;
    margin-top: 10px;
    display: block;
}
label{
    
    font-size: 13px;  
    font-family:  Helvetica;
}
/* .tableStyle{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:30px;
    width: 1080px;
} */
button:disabled{
    background-color: gray;
    border-color: gray;
}

td{
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid #c8c8c8;
}

th{
    background-color: gray;
    text-align: center;
    color: white;
    height: 40px;
    border: 1px solid gray;
}

.headingstyl{
    background-color: white;
    text-align:right;
    color: black;
    height: 40px;
    border:1px xolid white;
}
.datarow:last-child{
    border-bottom: 1px solid black;
}

 tr:nth-child(even){
    background-color: #f2f2f2;   
    color:black;
} 


.successMsg{
    font-size: 13px;
    margin-left: 35px;
    color: blue;
}
.mesgDiv{
    font-size: 18px;
    margin-left: 35px;
    color: blue;
    display: block;
}


tr:nth-child(even){
     background-color: #f2f2f2;
}
.datarow:last-child{
     border-bottom: 1px solid;
}

.remarks{
    display: block;
    padding: 12px;
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 6px;
    padding: 7px;
    outline-style: none;
    width: 207px;
    height: 47px;
    border: 1px solid black;

}

.active, .collapsible:hover {
    background-color: #555;
}

.countDsply{
    float: right;
    color: indigo;
}
.msgDiv{
   
    margin-top: 15px;
    padding-bottom: 8px;
    color: blue;
    font-size: 13px;
    font-family: helvetica;
}
.priceField{
    border-radius: 5px;
    border: 1px solid;
    width: 130px;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
}
.frameDet{
    margin-top: 10px;
    margin-left: 40px;
    /* width: 25%; */
    /* margin-bottom: 15px; */
/* display: inline-block;  */
}
.excelDiv{
    margin-left: 40px;
    padding:8px 0px 0px 0px;
}
.costfield{
    border-radius: 5px;
    border: 1px solid;
    width: 150px;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
}
.btn2{
    border-radius: 5px;
    width: 100px;
    height: 32px;
    margin-top: 15px;
    color: white;
    background-color: rgb(213,120,23);
    border: 1px solid rgb(213,120,23);
}
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke:  rgb(213,120,23);
    }
    40% {
        stroke:  rgb(213,120,23);
    }
    66% {
        stroke:  rgb(213,120,23);
    }
    80%,
    90% {
        stroke:  rgb(213,120,23);
    }
  }
.detBtn{
    border-radius: 5px;
    width: 130px;
    height: 32px;
    margin-top: 15px;
    color: white;
    background-color: rgb(213,120,23);
    border: 1px solid rgb(213,120,23);
}
.previouFun {
    position: relative;
    /* margin-left: 768px; */
    margin-top: auto; 
    /* padding-right: 200px; */
}
.importbtn{
    padding: 5px;
    color:white;
    background:  rgb(213,120,23);
    font-family: helvetica;
    border: 1px solid rgb(213,120,23);
    margin-top: 10px;
    margin-bottom: 5px;
}
#overwriteLbl{
    display: block;
}
.supTable{
    margin-top:2%;
     width:85%;
     margin-left:5%;
     color:rgb(85, 26, 139);
     font-weight: bold; 
     border: 1px solid black;
     border-collapse: collapse;
}
.ovrWriteBtn{
    border-radius: 5px;
    border-style: none;
    width:auto;
    height: auto;
    margin-top: 10px;
    color: white;
    display: inline-block;
    padding: 8px;
    background-color: rgb(213,120,23);
}