<div class="example-container">
  <form class="example-form" #newVariantUpdateForm="ngForm" (ngSubmit)="newVariantUpdate(newVariantUpdateForm.value)">
    <h2>New Variant Update</h2> 
      <div class="userCreation">
        <div class="custStyl">
          <label>Turbine Type<span class="asterisk_input">*</span></label> 
          <select class="widthInc" required >
          <option *ngFor="let turbine of TurbineTypeArray">{{turbine}}</option>
          </select>
          </div>
          <div class="custStyl">
            <label>Model Type<span class="asterisk_input">*</span></label> 
            <select class="widthInc" required >
              <option *ngFor="let model of ModelTypeArray">{{model}}</option> 
              </select>
            </div>
            <div class="custStyl">
              <label>Frames<span class="asterisk_input">*</span></label> 
              <select class="widthInc" required >
                <option *ngFor="let frame of FramesArray">{{frame}}</option>   
                </select>
              </div>
            <div class="custStyl">
                <label>C Number<span class="asterisk_input">*</span></label> 
                <select class="widthInc" required >
                  <option *ngFor="let CNum of CnumArray">{{CNum}}</option>
                </select>
              </div>
              
              <div class="btn1">
                  <button class="btn2Style" type="button" (click)="goback()">Cancel</button> 
                  <button class="btn2Style" type="reset">Reset</button>
                  <button [disabled]="!newVariantUpdateForm.form.valid" class="btn2" type="submit">Save</button>                   
              </div>
      </div>
  </form>
</div>      

