<div>
        <p style="font-weight: bold; margin-bottom:20px;font-size:14px;text-decoration: underline;font-family:helvetica;margin-left:100px">
                Exclusion List
               </p>
    <div    *ngFor="let Dropdown1 of display ; let j=index">
           
        <p style="font-weight: bold; margin-bottom:20px;font-size:14px;font-family:helvetica;margin-left:100px">
                {{j+1}}.{{display[j].itemNm}}
         </p>

    <table id="addOnTable1"   class="addOnTable1" style="margin-left:100px">
                                                 
                
      <tr>
         <div class="flexCollll">
                <label class="othersip" style="width:20px; text-align: center;font-weight: bold;"></label>
       
            <label class="othersip" style="width:50px; border:1px solid black; text-align: center;font-weight: bold;background-color: grey;">SL.NO</label>
                    <label class="othersip" style="width:730px; border:1px solid black; text-align: center;font-weight: bold;background-color: grey;">Description</label>
                </div>
            </tr>
              
      <tr *ngFor="let Dropdown of othetList ; let i=index">
      
              
                     
        
           
        
               <div class="flexCollll">
                    <div *ngIf="Dropdown1.itemNm ==Dropdown.itemNm && othetList[i].editFlag!=2 ">
                            <input type="checkbox" [disabled]="disableData"  style="width:20px;" [checked]="this.arraycheck[display[j].itemId][othetList[i].seqNo]" [(ngModel)]="this.arraycheck[display[j].itemId][othetList[i].seqNo]" name="itemRemark" (click)="itemRmrkCheck($event,display[j].itemId,othetList[i].seqNo)" class="checkBoxStyl">
        </div>
        <div *ngIf="Dropdown1.itemNm ==Dropdown.itemNm && othetList[i].editFlag==2   ">
            <input type="checkbox" disabled  style="width:20px;" [checked]="excludedItems" [(ngModel)]="excludedItems" name="itemRemark" (click)="itemRmrkCheck($event,display[j].itemId,othetList[i].seqNo)" class="checkBoxStyl">
</div>
<div *ngIf="Dropdown1.itemNm ==Dropdown.itemNm && othetList[i].editFlag!=2 ">

            <input name="othetList[i].seqNo" [ngStyle]="{ 'background-color':arraycheck[display[j].itemId][othetList[i].seqNo] && disableData==false ? 'white' : '#efeff5' }" 
            [(ngModel)]="othetList[i].seqNo" class="othersip" [disabled]="!arraycheck[display[j].itemId][othetList[i].seqNo] || disableData" style="resize:none;width:50px;height:50px;font-size:13px;font-family:helvetica;border:1px solid black" type="text">
</div>
<div *ngIf="Dropdown1.itemNm ==Dropdown.itemNm && othetList[i].editFlag==2 ">
        <input name="othetList[i].seqNo" [ngStyle]="{ 'background-color':arraycheck[display[j].itemId][othetList[i].seqNo] && disableData==false ? 'white' : '#efeff5' }"  
        [(ngModel)]="othetList[i].seqNo" class="othersip" disabled style="resize:none;width:50px;height:50px;font-size:13px;font-family:helvetica;border:1px solid black" type="text">
</div>


      
        
       
                                             
                                            
<div *ngIf="Dropdown1.itemNm ==Dropdown.itemNm && othetList[i].editFlag!=2 ">
        <textarea name="othetList[i].description" [ngStyle]="{ 'background-color':arraycheck[display[j].itemId][othetList[i].seqNo] && disableData==false? 'white' : '#efeff5' }"  
        [(ngModel)]="othetList[i].description" class="othersip" [disabled]="!arraycheck[display[j].itemId][othetList[i].seqNo] || disableData" style="resize:none;width:703px;height:50px; font-size:13px;font-family:helvetica;border:1px solid black" type="text"></textarea> 
        
    </div>
        <div *ngIf="Dropdown1.itemNm ==Dropdown.itemNm && othetList[i].editFlag==2 ">
                <textarea name="othetList[i].description" [ngStyle]="{ 'background-color':arraycheck[display[j].itemId][othetList[i].seqNo] && disableData==false? 'white' : '#efeff5' }"  
                [(ngModel)]="othetList[i].description" class="othersip" disabled style="resize:none;width:703px;height:50px; font-size:13px;font-family:helvetica;border:1px solid black" type="text"></textarea> 
            </div>

                                              
                                            </div>                                                
                                              </tr>  
                                          </table>
                                          
                                          <div >
                                             
                                                  <!-- <input type="checkbox" [checked]="othCheck[groupNameNew2[ki].desSubItemId]" [(ngModel)]="othersCompCheck[groupNameNew2[ki].desSubItemId]" name="addOns" (click)="openCompTable($event,groupNameNew2[ki].desSubItemId)" class="checkBoxStyl"> -->


                                                  <button type="button" [disabled]="disableData" class="othersbtn3" (click)="addRowsOth1(display[j].itemId)">Add</button>

                                                      <form #others212="ngForm" (ngSubmit)="compOthersForm1(others212.value ,others212,display[j],'rhs')" style="margin-bottom:15px;">

                                                        <table  id="addOnTable1 "class="addOnTable1" style="margin-left:100px;">
                                                            
    

                                                             
                                                            <div *ngFor="let o of itemOthersList1;let i=index">
                                                                    <div class="flexCollll" >
                                                              <tr>
                                                                    <div class="flexCollll" >
                                                                    <!-- <textarea [ngStyle]="{ 'background-color':othetList[i].editFlag? 'white' : '#efeff5' }" *ngIf="o.itemId ==Dropdown1.itemId "
                                                                    value="{{o.seqNo}}" class="othersip" readonly="readonly" style="resize:none;width:50px;height:50px; font-size:13px;font-family:helvetica;border:1px solid black" type="text"></textarea>  
                                                                     -->
                                                                    <textarea [ngStyle]="{ 'background-color':othetList[i].editFlag? 'white' : '#efeff5' }" *ngIf="o.itemId ==Dropdown1.itemId "
                                                                    value="{{o.description}}" class="othersip" [disabled]="!disableexclusion[i]"   [(ngModel)]="o.description" [ngModelOptions]="{standalone: true}" ngModel style="resize:none;width:730px;height:30px; font-size:13px;font-family:helvetica;border:1px solid black;margin-left:45px;" type="text"></textarea>    
                                                                   
                                                                 
                                                                    <div class="flexCollll" >
                                                              
                                                                        <i style="margin-top:10px;color:rgb(213,120,23); "  *ngIf="o.itemId ==Dropdown1.itemId " class="fa fa-times fa-2x" (click)="cancelLinesOth1(i,display[j].itemId)" aria-hidden="true"></i>
                                                                        <button (click)="editlhs(i)"   *ngIf="o.itemId ==Dropdown1.itemId && !disableexclusion[i]" style="color:white;border-radius: 5px; margin-right:10px;background-color:rgb(213,120,23);border:1px solid rgb(213,120,23);margin-left:10px;height:30px;margin-top:8px;"
                                                                        type="button">Edit</button>
                                                                        <button (click)="savelhs(i)" *ngIf="o.itemId ==Dropdown1.itemId && disableexclusion[i]" style="color:white; border-radius: 5px;margin-right:10px;background-color:rgb(213,120,23);border:1px solid rgb(213,120,23);margin-left:10px;height:30px;margin-top:8px;"
                                                                        type="button">Save</button>
                                                                    </div>
                                                                    </div>
                                                              </tr>
                                                            </div>
                                                      </div>


                                                              <div  *ngIf="displayOthnewLine1[display[j].itemId]"  >
                                                                    <div  class="flexCollll"  >
                                                              <tr>
                                                                  
                                                                    <div class="flexCollll" >

                                                                            <!-- <input name="othdes0"style="resize:none;width:50px;height:40px; font-size:13px;font-family:helvetica;border:1px solid black"  placeholder="Enter Sl.NO" required #othdes0="ngModel"
                                                                                ngModel class="othersip" type="number">
                                                                           -->
                                                                                <textarea name="othdes"  style="margin-left:45px;resize:none;width:730px;height:40px; font-size:13px;font-family:helvetica;border:1px solid black"  placeholder="Enter Description" required #othdes="ngModel"
                                                                                ngModel class="othersip" type="text">
                                                                                </textarea>
                                                                       
                                                                      
                                                                                <div class="flexCollll" >
                                                                       
                                                                            <button style="color:white; margin-right:10px;background-color:rgb(213,120,23);border:1px solid rgb(213,120,23);margin-left:10px;height:30px;margin-top:8px;" [disabled]="!others212.form.valid"
                                                                                type="submit">Save</button>
                                                                            <button (click)="cancelnewLineOth1(display[j].itemId)" style="color:white;background-color:rgb(213,120,23);border:1px solid rgb(213,120,23);;height:30px;;margin-top:8px;"
                                                                                type="button">Cancel</button>
                                                                         </div>
                                                                         </div>
                                                              </tr>
                                                            </div> 
                                                            </div>

                                                          </table>


                                                      </form>

                                                 

                                                    
                                                
                                               
                                            
                                              
                                             
                                             
                                      

                                
  </div>
  
  </div>
  <div *ngIf="!getPrice" style="color : red;">
        PLease save all the Add-On's  !! For saving Exclusion List.

    </div> 
  <div style="margin-left: 100px;">
        <div *ngIf="dialogMsgApp" class="msgDiv">
                {{dialogMsgVal}}
            </div>
        <button class="ovrWriteBtn" style=" border-radius: 5px;color:white;padding:7px; width:70px;margin-right:10px;margin-bottom:50px;background-color:rgb(213,120,23);border:1px solid rgb(213,120,23);" 
         *ngIf="backBtn" type="button" (click)="backButton()">Back</button> 
      <button  [ngStyle]="{ 'background-color':mainSave? 'rgb(213,120,23)' : 'green' }" style="margin-top:10px; border-radius: 5px;color:white;padding:7px; width:70px;margin-bottom:10px;background-color:rgb(213,120,23);border:1px solid rgb(213,120,23);" 
      type="button" (click)="saveOthers()">Save</button>
      </div> 
     
  </div>
  
  


