<div class="myWorkFlowDiv">

  <h2>
    My Work Flow
  </h2>
  <div *ngIf="hideprogress" style="margin-left:40%;margin-top:10%;">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div *ngIf="!hideprogress">

  <p-tabView [style]="{'margin-left':'15px'}">
    <!-- <p-tabPanel header="Quotations ({{quotations.length}})" leftIcon="fa fa-calculator">

      <p-table #dt [columns]="cols" [value]="quotations" [paginator]="true" [rows]="7">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
          <tr>

            <th class="secondHeader" *ngFor="let col of columns" [ngSwitch]="col.field">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'quotNumber'" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'custName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'statusName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'frameName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'capacity'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'region'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'modifyDate'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'assignedTo'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr class="datarow" [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" (click)="navigatetoNextQuot(rowData)">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel> -->
    <p-tabPanel header="Update Cost ({{updatePriceList.length}})" leftIcon="fa fa-inr"  [disabled]="disbleCR">
      <p-table #dtUp [columns]="colss" [value]="updatePriceList" [paginator]="true" [rows]="7">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th class="secondHeader" *ngFor="let col of columns" [ngSwitch]="col.field">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'displayReqNumber'" pInputText type="text" (input)="dtUp.filterGlobal($event.target.value, 'contains')">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'createdBy'" pInputText type="text" (input)="dtUp.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'assignedToName'" pInputText type="text" (input)="dtUp.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'modifiedDate'" pInputText type="text" (input)="dtUp.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'statusName'" pInputText type="text" (input)="dtUp.filter($event.target.value, col.field, col.filterMatchMode)">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr class="datarow" [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" (click)="navigatetoNextCost(rowData)">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>

  <!-- <div class="othersGrid">
    <h2>All Requests</h2>
    <p-table [style]="{width:'94%','margin-left':'3%'}" #dtUpAll [columns]="colss" [value]="allRequests" [paginator]="true" [rows]="7">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th class="secondHeader" *ngFor="let col of columns" [ngSwitch]="col.field">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'displayReqNumber'" pInputText type="text" (input)="dtUpAll.filterGlobal($event.target.value, 'contains')">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'createdBy'" pInputText type="text" (input)="dtUpAll.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'assignedToName'" pInputText type="text" (input)="dtUpAll.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'modifiedDate'" pInputText type="text" (input)="dtUpAll.filter($event.target.value, col.field, col.filterMatchMode)">
              <input class="localIp" placeholder="Search here.." *ngSwitchCase="'statusName'" pInputText type="text" (input)="dtUpAll.filter($event.target.value, col.field, col.filterMatchMode)">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr class="datarow" [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
  </div> -->
</div>

</div>